@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

span > svg {
  padding-bottom: 2px;
}

.gridComment {
  grid-template-areas:
        "firstComment fourthComment thirdComment"
        "secondComment fifthComment thirdComment"
        "seventhComment eighthComment sixthComment";
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
}

form > label {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

label > input {
  border-radius: 3px;
  border: 1px solid black;
  background-color: #f0f4f9;
  padding: 5px;
}

.cabinet {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: none;
  cursor: pointer;
  background-color: #ffd1d1;
  padding: 10px 10px;
  border-radius: 22px
}

#calendar {
  text-align: center;
  background-color: #f2f5fa;
  padding: 10px;
}

.day {
  padding: 8px 0;
  margin: 1px 0;
  background-color: white;
  width: 100%;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.blackDay {
  background-color: #f8f9fc;
}

.addSomething {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.modal-admin {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.titleLesson {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
}

.priceDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}



.categoryPrice {
  border-radius: 22px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}

.categoryPrice:hover {
  background-color: #0772dc;
  border: 2px solid #0772dc;
  color: white;
}

.categoryPrice.active {
  background-color: blue !important;
  border: 2px solid blue;
  color: white;
}

#commentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.comment {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.commentAuthor {
  font-weight: bold;
  margin-bottom: 4px;
}
