* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

body {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    max-width: 1180px;
    min-width: 280px;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.headerContainer {
    position: fixed;
    z-index: 1000;
    transition: top .3s;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid dimgray;
}

.headerContainer.out {
    top: -100px
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-size: 15px;
    padding: 13px 0;
    min-width: 280px;
    max-width: 1180px;

    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

span > svg {
    padding-bottom: 2px;
}

.aboutH {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 114%;
}

.aboutText {
    opacity: .6;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    white-space: pre-line;
}
i

.gridComment {
    position: relative;
    margin-top: 56px;
    display: grid;
    min-width: 280px;
    max-width: 1180px;
    gap: 20px;
    grid-template-areas:
"one four three"
"two five three"
"seven eight six" ;
}
.containerComment > img{
    width: 100%;
    height: 100%;
}

.imgComment {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.nameComment {
    font-size: 23px;
    margin-left: 10px;
    font-weight: bold;
}

.textComment {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    padding-right: 10px;
}

.containerComment {
    color: black;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 22px;
}
.authButton{
    text-decoration: none;
    background-color:blue;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    margin-left: 4px;
    padding: 10px 16px;
    border: none;
    display: flex;
    align-items: center;
}
.number{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
}
.aboutTeacher{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.aboutTeacher > p{
    color: dimgray;
}
a{
    text-decoration: none;
    color: black;
}
